/* About page */
/* main body */
body {
    max-width: 1200px; 
    margin: 0 auto;
    background-color: #f6c9cc;
    padding: 0% 5% 0% 5%;
  }
  
  body p, .footer-text, .footer-text a {
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 300;
    color: #7de279;
  }
  
  a:hover {
    cursor: pointer;
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
  
  .footer-text a:hover {
    color: #fff;
  }  
  
  li:active {
    color: #000;
    font-size: 2.5em;
  }
  
  body p {
    margin-top: -4%;
  }
  
  header {
    margin-top: 10%;
  }
  
  h1, h2, h4 {
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 2.5em;
    font-weight: 300; 
    color: #fff
  }
  
  a {
    text-decoration: none;
  }
  
  main {
    max-width: 960px;
    padding: 10px;
    display: inline-block;
  }
  
  header::after {
    content: "";
    display: table;
    clear: both;
  }
  
  #left {
    position: relative;
    overflow: hidden;
    background-color: #000;
  }
  
  #main-image:hover {
    background-color: #000;
    transform: scale(1.2);
    transition: all 1s;
    opacity: 0.5;
  }
  
  footer {
    margin-top: 5%;
    text-align: center;
    font-size: .75em;
  }
  
  #bottom::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* hover to make extra icons appear */
  #extra-icons {
    display: none;
  }
  
  /* mobile/tablet views */
  @media screen and (max-width: 768px) {
    #main-image {
      max-width: 100%;
      margin: 0 auto;
      -webkit-transition: 1s ease;
      transition: 1s ease;
    }
    #right, #left {
      display: block;
    }
    #left {
      width: 90%;
      margin: 0 auto;
    }
    #right {
      width: 90%;
      margin: 0 auto;
    }
    #bottom {
      width: 90%;
      margin: 0 auto;
    }
    #bottom-image {
      margin: 0 auto;
      float: right;
      width: 100%;
    }
    .footer-text {
      padding-top: 5%;
    }
    /* icons */
    ul {
      width: 110%;
      padding-left: 0%;
      text-align: left;
    }
    li {
      list-style: none;
      text-decoration: none;
      color: #fff;
      font-size: 2em;
      transition: 1s;
      display: inline-block;
    }
    .plus {
      margin: 0% 0% 0% 5%;
    }
  /* adjustment when hover is opened */
    #extra-icons {
      width: 45%;
    }
    .codepen, .github, .email {
      width: 29%;
    }
    .codepen {
      margin-left: 3%;
    }
    .linkedin, .insta {
      margin-left: 6%;
    }
    li:hover {
      color: #7de279;
      font-size: 2.5em;
    }
  }
  
  /* desktop view */
  @media screen and (min-width: 769px) {
    #main-image {
      max-width: 100%;
      -webkit-transition: 1s ease;
      transition: 1s ease;
    }
    #right, #left {
      display: inline-block;
    }
    #left {
      width: 45%;
      margin-right: 6%;
    }
    #right {
      vertical-align: top !important;
      width: 45%;
      margin-top: -3%;
    }
    #bottom-image {
      float: right;
      width: 50%;
      margin: -3% 2% -2% 0%;
    }
  /* icons */
    ul {
      width: 100%;
      padding-left: 5%;
      margin-top: 5%;
      text-align: left;
    }
    li {
      list-style: none;
      text-decoration: none;
      color: #fff;
      font-size: 2.5em;
      transition: 1s;
      display: inline-block;
    }
    .plus, .insta {
      margin: 0% 0% 0% 5%;
    }
  /* adjustment when hover is opened */
    #extra-icons {
      width: 50%;
    }
    .codepen, .github, .email {
      width: 20%;
    }
    .codepen, .github {
      margin-right: 10%;
    }
    .linkedin, .insta {
      margin-right: 2%;
    }
    li:hover {
      color: #7de279;
      font-size: 2.75em;
    }
  }