
  

    <div class="container-fluid">
            <div class="main"> 
          <section id="left">
            <a href="#"><img id="main-image" src="https://smedia2.intoday.in/indiatoday/images/stories/2015September/6-chaitanya-deshpande_091615091200.jpg"></a>
          </section>
          <section id="right">
            <h2 id="intro-sentence">Hi, I'm Kristyan.</h2>
            <p class="body-text">This tourism market is interested in destinations featuring flora and fauna attractions, collectively constituting the wildlife environment. Flora describes the many species of plants or vegetation, while fauna depicts animals, birds, invertebrates, and fish lives (Ryan and Huyton 2000). This segment comprises tourists who want to connect with nature for psychological wellbeing, meaningfulness, and vitality, in addition to education and learning (Cervinka et al. 2013).

                Flora and fauna tourism is advantageous, as it can be indigenous, thus presenting endemic biodiversity and bestowing uniqueness to the destination (Nyeki 1992). Research shows that the use of flora and fauna as a tourism product can help in achieving environmental, economic, and political sustainability (Salem et al. 2000). Some destinations have recognized their importance for conservation and have created national parks, wildlife sanctuaries, protected areas, or reserves for their upkeep. From an economic...</p>
            <div>
            <article id="bottom">
                <img id="bottom-image" src="http://res.cloudinary.com/dxg6sopth/image/upload/v1512249750/park-img_ssa6yl.gif">
                

            </article>
            </div>
          <ul id="icons">
            <div id="all-icons">
            <a href="https://www.linkedin.com/in/kristyanpak/" target="_blank"><li class="linkedin main-icons"><i class="fa fa-linkedin" aria-hidden="true"></i></li></a>
            <a href="http://instagram.com/_kpak" target="_blank"><li class="insta main-icons"><i class="fa fa-instagram" aria-hidden="true"></i></li></a>
            <li class="plus main-icons"><i class="fa fa-plus" aria-hidden="true"></i></li>
            <div id="extra-icons">
              <a href="https://codepen.io/kristyan-p/collections/public/" target="_blank"><li class="codepen extra-icons"><i class="fa fa-codepen" aria-hidden="true"></i></li></a>
              <a href="https://github.com/kristyan-p" target="_blank"><li class="github extra-icons"><i class="fa fa-github" aria-hidden="true"></i></li></a>
              <a href="mailto:kristyan.pak@gmail.com" target="_blank"><li class="email extra-icons"><i class="fa fa-envelope-o" aria-hidden="true"></i></li></a>
              </div>
            </div>
          </ul>
        </section>
        
   </div>
 